*{
    box-sizing: border-box;
}

:root{
 --CellbackgroundColor: linear-gradient(to right,#433e3e8a, #00eeff);
 --textColor : white; 
 --font: cursive;
 --lightModeColor: #f2cea3;
}

h1{
    color: var(--textColor);
    font-size: 40px;
}
html, body {
  max-height: 75ch;
  margin: 0;
  padding: 0;
}

body {
    font-family: var(--font);
    text-align: center;
    background-color: #000000e3; 
    color: black; 
    
}


.lightMode {
  font-family: var(--font);
    text-align: center;
  background-color: aliceblue;
 
}

.lightMode h1 {
  color:var(--lightModeColor);
}

.lightMode .details-container{
 color: var(--lightModeColor);
}

.lightMode .cell {
   
    background-color: var(--lightModeColor);

}
.lightMode .levels-container {
 
  border-bottom: 1px solid var(--lightModeColor);

}


.lightMode .levels-container button {
  color: var(--lightModeColor)

}

.levels-container{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 10%;
  border-bottom: 1px solid var(--textColor);
}

.levels-container button {  
  font-family: var(--font);
  background-color: transparent;
  padding: 10px;
  border: none;
  font-size: 20px;
  color: var(--textColor);
  cursor: pointer;
}

.details-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  width: 80%;
  color: var(--textColor);
  padding: 20px;
  margin: 0 10%;
  align-items: flex-end;
}

.smily{
  font-size: 50px;
}

.timer{
  padding: 2px;
  width: 100px;
}

.flag-counter{
  padding: 2px;
  width: 100px;
}

  .board-container {
    display: flex;
    justify-content: center;
}

.cell {
    background-image: var(--CellbackgroundColor);
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    border: 1px solid white;
    border-radius: 4px;
    color:var(--textColor);
    font-weight: 600;
    cursor: pointer;

  }
  
  .is-shown-cell{
    background-color: #000000;
    background-image: none;
  }

  .lives-container{
    padding: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 55px;
  }

  .live{
    margin-bottom: 10px;
    font-size: 24px;
  }

  .hints-container{
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 55px;
  }

    
  .hint{
    margin-bottom: 10px;
    font-size: 24px;
    cursor: pointer; 
  }

  .hint-active{
    text-shadow: 0 0 10px #d4ff00,
    0 0 0px #d4ff00,
    0 0 0px #d4ff00,
    0 0 4px #d4ff00,
    0 0 5px #d4ff00,
    0 0 0px #d4ff00,
    0 0 0px #d4ff00
  }

  
  .btnSafeClick-container{
    
    display: flex;
     justify-content: center;
     width: 80%;
     margin: 0 10%;
     padding: 30px 30px 10px;
  
 }
 
 .safe-clicked{
   background-color:  #5ce97a;
   background-image: none;
 }
 
 .btnSafeClick-container button{
  font-family: var(--font);
   background-color: #5ce97a;
   border-radius:8px;
   margin: 5px;
   padding: 7px;
   border: 8px;
   cursor: pointer;
 }

 .lightMode .btnSafeClick-container button{
  color: var(--textColor);
 }

 .manuallyMode{
  
  background-color:var( --lightModeColor);
  border-radius:8px;
  margin: 5px;
  padding: 15px;
  border: 8px;
  cursor: pointer;
}
 
.settings-container{
    
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 10%;
  padding: 0 30px 30px 30px;
}

.settings-container button{
  font-family: var(--font);
  background-image: var(--CellbackgroundColor);
  border-radius:8px;
  margin: 5px;
  padding: 7px;
  border: 8px;
  cursor: pointer;
}

 .lightMode .settings-container button{
  color: var(--textColor);
 }
  footer{
    color: var(--textColor);
    padding: 16px;
  }


  .lightMode footer{
    color: var( --lightModeColor);
  }